body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #ececec;
  box-sizing: border-box; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0; }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 202;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: all 0.5s; }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.98), rgba(255, 0, 0, 0.98));
  z-index: 200;
  transition: transform 1.2s cubic-bezier(1, 1.75, 0.88, 0.45); }
  .navigation-background:active {
    transform: scale(110); }

.navigation-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  margin: 25vh;
  padding: 0; }

.navigation-item {
  margin: 1rem;
  position: relative;
  list-style: none;
  margin: 10px 0;
  overflow: hidden;
  display: block; }
  .navigation-item:before {
    content: '';
    position: absolute;
    top: 260%;
    transform: skewY(-15deg) translateY(-200%);
    width: 100%;
    height: 1px;
    background-image: linear-gradient(-100deg, #06ebf3 0%, blue 0%, #13edf5 50%);
    left: -100%;
    transition: 0.5s; }
  .navigation-item:hover:before {
    left: 100%;
    top: -100%; }

.navigation-link {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: all 0.5s;
  font-size: 60px;
  font-weight: 900;
  text-decoration: none;
  color: transparent; }
  .navigation-link:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #262626;
    transition: all 0.5s 0.2s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 102%); }
  .navigation-link:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #262626;
    transition: all 0.5s 0.2s;
    clip-path: polygon(0 100%, 100% -2%, 100% 100%, 0 100%); }
  .navigation-link:hover:before {
    color: turquoise;
    transform: translate(-110px, 8px); }
  .navigation-link:hover:after {
    background-image: linear-gradient(-100deg, #06ebf3 0%, blue 0%, #13edf5 50%);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translate(110px, -8px); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  width: 100%;
  opacity: 1; }

.navigation-icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: rgba(0, 128, 0, 0.98);
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.4s; }
  .navigation-icon::before {
    top: -0.4rem; }
  .navigation-icon::after {
    top: 0.4rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1.2rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1.2rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }
